{% extends 'base-admin.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
<a href="{{ path('groupe_index') }}" class="small-btn">Retour</a>
<div class="formulaire1">
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>NomGroupe</th>
                <td>{{ groupe.nomGroupe }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ groupe.date ? groupe.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ groupe.jour }}</td>
            </tr>
            <tr>
                <th>HeureDebut</th>
                <td>{{ groupe.heureDebut }}</td>
            </tr>
            <tr>
                <th>HeureFin</th>
                <td>{{ groupe.heureFin }}</td>
            </tr>
            <tr>
                <th>AdresseNumero</th>
                <td>{{ groupe.adresseNumero }}</td>
            </tr>
            <tr>
                <th>AdresseRue</th>
                <td>{{ groupe.adresseRue }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ groupe.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ groupe.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ groupe.pays }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ groupe.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ groupe.longitude }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ groupe.valide ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    
{% endblock %}
