{% extends 'base.html.twig' %}

{% block title %}Membre index{% endblock %}

{% block body %}
    <h1>Membre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.roles ? membre.roles|json_encode : '' }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>
                    <a href="{{ path('membre_show', {'id': membre.id}) }}">Voir</a>
                    <a href="{{ path('membre_edit', {'id': membre.id}) }}">Modifier le rôle</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucun membre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
