{% extends 'base-admin.html.twig' %}

{% block title %}ActiviteCategorie index{% endblock %}

{% block body %}
    <h1>Index des catégories</h1>
<div class="formulaire1">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCategorie</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite_categorie in activite_categories %}
            <tr>
                <td>{{ activite_categorie.id }}</td>
                <td>{{ activite_categorie.nomCategorie }}</td>
                <td>{{ activite_categorie.valide ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('activite_categorie_show', {'id': activite_categorie.id}) }}" class="small-btn_inline">Voir</a>
                    <a href="{{ path('activite_categorie_edit', {'id': activite_categorie.id}) }}" class="small-btn_inline">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune catégorie pour l'instant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activite_categorie_new') }}" class="small-btn">Nouvelle catégorie</a>
    </div>
{% endblock %}
