{% extends 'base-admin.html.twig' %}

{% block title %}ActiviteCategorie{% endblock %}

{% block body %}
    <a href="{{ path('activite_categorie_index') }}" class="small-btn">Retour</a>
    <div class="formulaire1">
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ activite_categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite_categorie.description }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ activite_categorie.valide ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex flex-wrap justify-content-start align-items-center">
        <a href="{{ path('activite_categorie_edit', {'id': activite_categorie.id}) }}" class="small-btn">Modifier</a>

        {{ include('activite_categorie/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
