{% extends 'base-admin.html.twig' %}

{% block title %}ActiviteCategorie{% endblock %}

{% block body %}
    <h1>ActiviteCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_categorie.id }}</td>
            </tr>
            <tr>
                <th>NomCategorie</th>
                <td>{{ activite_categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite_categorie.description }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ activite_categorie.valide ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activite_categorie_index') }}">back to list</a>

    <a href="{{ path('activite_categorie_edit', {'id': activite_categorie.id}) }}">edit</a>

    {{ include('activite_categorie/_delete_form.html.twig') }}
{% endblock %}
