{% extends 'base-admin.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Admin!</h1>
    <div class="formulaire1">
        <a href="{{ path('activite_index') }}" class="small-btn_inline">Activités</a>
        <a href="{{ path('article_accueil_index') }}" class="small-btn_inline">Articles (accueil)</a>
        <a href="{{ path('activite_categorie_index') }}" class="small-btn_inline">Catégories</a>
        <a href="{{ path('groupe_index') }}" class="small-btn_inline">Groupes</a>
        <a href="{{ path('membre_index') }}" class="small-btn_inline">Membres</a>
        <a href="{{ path('message_contact_index') }}" class="small-btn_inline">Messages</a>
    </div>

</div>
{% endblock %}
