{% extends 'base-admin.html.twig' %}

{% block title %}Admin Articles{% endblock %}

{% block body %}
<style>
.formulaire1 {max-width: 1200px}
</style>
    <h1>Articles de l'accueil</h1>
<div class="formulaire1">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Image</th>
                <th>Position</th>
                <th>Active</th>
                <th>Texte du bouton</th>
                <th>Lien du bouton</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_accueil in article_accueils %}
            <tr>
                <td>{{ article_accueil.id }}</td>
                <td>{{ article_accueil.titre }}</td>
                <td>{{ article_accueil.texte }}</td>
                <td><img src="{{ asset('img/articles/' ~ article_accueil.image) }}" alt="" class="img-admin p-2"></td>
                <td>{{ article_accueil.position }}</td>
                <td>{{ article_accueil.active ? 'Oui' : 'Non' }}</td>
                <td>{{ article_accueil.boutonTexte }}</td>
                <td>{{ article_accueil.boutonLien }}</td>
                <td>
                    <a href="{{ path('article_accueil_show', {'id': article_accueil.id}) }}" class="small-btn_inline">Voir</a>
                    <a href="{{ path('article_accueil_edit', {'id': article_accueil.id}) }}" class="small-btn_inline">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun article pour l'instant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_accueil_new') }}" class="small-btn">Nouvel article</a>
</div>
{% endblock %}
