{% extends 'base-admin.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<a href="{{ path('article_accueil_index') }}" class="small-btn">Retour</a>
<div class="formulaire1">
    <h1>Article : {{article_accueil.titre}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_accueil.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article_accueil.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ article_accueil.texte }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('img/articles/' ~ article_accueil.image) }}" alt=""></td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ article_accueil.position }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ article_accueil.active ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>BoutonTexte</th>
                <td>{{ article_accueil.boutonTexte }}</td>
            </tr>
            <tr>
                <th>BoutonLien</th>
                <td>{{ article_accueil.boutonLien }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_accueil_edit', {'id': article_accueil.id}) }}" class="small-btn">Modifier</a>

    {{ include('article_accueil/_delete_form.html.twig') }}
</div>
{% endblock %}
