{% extends 'base-admin.html.twig' %}

{% block title %}Message de Contact{% endblock %}

{% block body %}
    <h1>Messages Contact</h1>
<div class="formulaire1">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Message</th>
                <th>Réception</th>
                <th>Réponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_contact in message_contacts %}
            <tr>
                <td>{{ message_contact.id }}</td>
                <td>{{ message_contact.nom }}</td>
                <td>{{ message_contact.prenom }}</td>
                <td>{{ message_contact.email }}</td>
                <td>{{ message_contact.telephone }}</td>
                <td>{{ message_contact.message }}</td>
                <td>{{ message_contact.reception ? message_contact.reception|date('d/m/Y H:i') : '' }}</td>
                <td>{{ message_contact.reponse ? message_contact.reponse|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('message_contact_show', {'id': message_contact.id}) }}" class="small-btn_inline">Voir</a>
                    <a href="{{ path('message_contact_edit', {'id': message_contact.id}) }}" class="small-btn_inline">Répondre</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
