{% extends 'base-admin.html.twig' %}

{% block title %}Message de Contact{% endblock %}

{% block body %}
    <h1>Message de Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message_contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ message_contact.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ message_contact.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ message_contact.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ message_contact.telephone }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message_contact.message }}</td>
            </tr>
            <tr>
                <th>Reception</th>
                <td>{{ message_contact.reception ? message_contact.reception|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ message_contact.reponse ? message_contact.reponse|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_contact_index') }}">retour à la liste</a>

    <a href="{{ path('message_contact_edit', {'id': message_contact.id}) }}">Modifier</a>

    {{ include('message_contact/_delete_form.html.twig') }}
{% endblock %}
