{% extends 'base.html.twig' %}


{% block body %}
    

{{ form_start(form) }}
    <h1>Message Contact</h1>

    {{ form_widget(form) }}
    <br>

    <button href="{{ path('accueil') }}" class="big-btn">{{ button_label|default('Enregistrer') }}></button>
{{ form_end(form) }}
    

{% endblock %}
