{% extends 'base.html.twig' %}

{% block title %}Hello MembreActiviteController!{% endblock %}

{% block body %}
<div class="formulaire1">
<h1 class="tittle">Vos activités :</h1> 
<ul>
{% for activite in app.user.activites %}
<li>{{activite}}</li>
{% endfor %}
</ul>

{{ form_start(form)}}
    {# {{ form_label(form.activites) }} #}
    {{ form_row(form.activites, {'attr': {'class': 'select2-multiple'}}) }}<br>
    {{ form_row(form.Ajouter)}}
{{ form_end(form)}}
{# {{form(form)}} #}
</div>
{% endblock %}
